asgiref==3.2.3
autopep8==1.4.4
beautifulsoup4==4.8.2
Brotli==1.0.7
Django==3.1.13
django-debug-toolbar==2.1
django-extensions==2.2.6
git+git://github.com/tjwalch/django-livereload-server.git@0.3.3#egg=django-livereload-server
entrypoints==0.3
flake8==3.7.9
isort==4.3.21
mccabe==0.6.1
pycodestyle==2.5.0
pyflakes==2.1.1
pytz==2019.3
six==1.14.0
soupsieve==1.9.5
sqlparse==0.3.0
tornado==6.0.3
Werkzeug==0.16.0
whitenoise==5.0.1
